@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Source+Sans+Pro&display=swap');

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

@import url("components/list-inline.css");

body {
	font-family: "Playfair Display", serif;
	font-size: 18px;
}

h1, h2, h3 {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: bold;
}

a{
		text-decoration: none;
}

